html{
	width: 900px;
	margin: 0 auto;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-9 {
    flex: 0 0 auto;
}
.col-right{
	padding-left: 60px;
	text-align: justify;
}
body, html, .container{
	margin: 0 auto;
	width: 888px;
}
.container{
	padding: 25px 25px 20px 25px;
	border1: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-right: auto;
    margin-left: auto;
}
.heading {
	margin-bottom: 50px;
}
.heading, .rate span{
	background-color: #56b7ac;
}
.heading .wrap{
	padding: 30px 5px;
	display: flex;
}
.heading img,.avatar{
	border-radius: 50%;
	width: 145px;
}
.col-avatar{
	text-align: center;
}

.job-title{
	position: relative;
	top: -8px;
}
ul,p,span,div,label,input{
	margin: 0;
	padding: 0;
}
.skills li{
	display: block;
	list-style: none;
	margin-bottom: 13px;
}
.rate, .rate span{
	display: block;
	float: left;
	height: 7px;
}
.rate{
	width: 100%;
	background-color: #dfdfdf;
}
.rate-7{
	width: 80%;
}
.rate-8{
	width: 80%;
}
.rate-9{
	width: 90%;
}
.rate-10{
	width: 100%;
}
.label{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
}
.sidebar ul{
	margin-bottom: 35px;
}
.line{
	margin-bottom: 30px;
}
.line .item{
	margin-bottom: 10px;
}
.sub-label{
	font-weight: 500;
	font-size: 15px;
}
.col-right .label{
	text-transform: uppercase;
	font-size: 18px;
}
.col-3{
	width: 28% !important;
}
.col-9{
	width: 72% !important;
}
.skills a{
	color: #000;
	text-decoration: none;
}
.line-split{
	text-align: center;
	display: block;
	display: none;
}
.line-split span{
	width: 18px;
    height: 2px;
    display: inline-block;
    margin: 2px;
    background-color: #008000;
    position: relative;
    top: -25px;
}
.col-content ul{
	margin-left: 40px;
}
.col-content ul li{
	list-style-type: square;

}