.tool{
	position: fixed;
	top: 30%;
	left: 0;
}
.tool select{
	display: block;
	clear: both;
	padding: 5px;
}
.tool ul li{
	display: block;
	padding: 5px;
	margin-bottom: 5px;
}
@media only screen and (max-width: 900px) {
	.tool{
		display: none;
	}
}